<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Gesture Recognition</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Hand Gesture Recognition</h1>
    
    <div id="myDiv" style="display: none;">
        <img id="video_gesture" src="" />
    </div>
    <button id="playback_button" onclick="togglePlayback()">연주 시작</button>

    <button class="InstrumentButton" value=0>피아노</button>
    <button class="InstrumentButton" value=1>피리</button>

    <button class="PresetButton" value=1>1</button>
    <button class="PresetButton" value=2>2</button>
    <button class="PresetButton" value=3>3</button>
    <button class="PresetButton" value=4>4</button>

    <script>
        var myDiv = document.getElementById('myDiv');
        var video = document.getElementById('video_gesture');
        var streaming = false;
        video.src = "";

        myDiv.addEventListener('click', function() {
            myDiv.style.display = 'none';
        });

        // Ajax를 사용하여 Flask로 데이터를 비동기적으로 전송하는 함수
        $(document).ready(function() {
            $('.PresetButton').click(function() {
                var buttonValue = $(this).val();
                console.log("버튼 값:", buttonValue);
                $.ajax({
                    url: "/HandGestures_play",
                    type: "POST",
                    data: {preset: buttonValue},
                    success: function(response) {
                        console.log("성공:", response);
                    },
                    error: function(error) {
                        console.log("오류:", error);
                    }
                });
            });
            $('.InstrumentButton').click(function() {
                var buttonValue = $(this).val();
                console.log("버튼 값:", buttonValue);
                $.ajax({
                    url: "/HandGestures_play",
                    type: "POST",
                    data: {instrument_value: buttonValue},
                    success: function(response) {
                        console.log("성공:", response);
                    },
                    error: function(error) {
                        console.log("오류:", error);
                    }
                });
            });
        })

        function togglePlayback() {
            if (!streaming) {
                // Start streaming
                myDiv.style.display = 'block';

                // Change button text
                document.getElementById("playback_button").innerText = "연주 종료";

                // Start webcam stream
                video.src = "{{ url_for('processed_video_gesture') }}";
            } else {
                // Stop streaming
                myDiv.style.display = 'none';

                // Change button text
                document.getElementById("playback_button").innerText = "연주 시작";

                // Stop webcam stream
                video.src = "";
            }
            streaming = !streaming;
        }
    </script>
</body>
</html>
